.App {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fc-toolbar-title {
  color: white;
}

.fc-media-screen {
  height: 80%;
  width: 80%;
}

.fc-daygrid-day-number {
  color: white;
}

.fc-col-header-cell-cushion {
  color: white;
}

.fc-event-title {
  color: white;
}

.fc-event-time {
  color: white;
}